/*main layout*/
.dataLanguage{
	float: left;
	width: 50%;
	padding-top: 20px;
}
.personalprofile{
	float: left;
	padding-top: 20px;
}
.professional{
	float: left;

}
.interest{
	margin-top: 15px;
	float: left;
	width: 50%;
}
.skills{
	float: right;
	padding-right: 10px;
	margin-top: 15px;
	width: 45%
}
.diplomas{
	float: left;
	width: 50%;
	margin-top: 15px;
}
.education{
	margin-top: 15px;
	float: right;
	width: 45%;
	padding-right: 10px;

}

main ul{
	width: 50%
	padding: 5px;
	margin: 5px;
	float: left;
list-style-type: none;
 border-left: 4px solid #dc3601;
  border-top: 4px solid #dc3601;

}
main li{
	padding: 5px 5px;

}
h2{
	text-align: right;
	padding-right: 10px;
}
/*dataLanguage layout*/

section.dataLanguage ul{
float: left;
width: 90%
}
section.dataLanguage h1{

	text-align: center;
}

section.dataLanguage h4{
	text-align: left;
}
section.dataLanguage  p{
text-align: right;
}
section.dataLanguage h2{

}


/* perofessional layout*/
section.professional h4{
	text-align: left;
	width: 90%;
	padding: 4px 0px;
}
section.professional p{
	text-align: left;
	width: 80%;

}
main a{
	float: right;
}

#logoPrimark, #logoWholefoods, #logoFauburg, #logoMilano {
	width: 90px;
	float: right;
}

#logoCabinn{
	width: 60px;
	float: right;
}

 
#logoAicositas {
	width: 70px;
	float: right;
}

/*skills and interests layout*/
section.skills ul, section.interest ul{

width: 100%;
}
/*educationa nd diplomas layout */
section.education ul, section.diplomas ul{
width: 100%;
}
section.education h4, section.diplomas h4{
	text-align: left;
}
section.education  p, section.diplomas p{
text-align: right;
}
/*Images sizes*/
.icon{
	
	width: 50px;
	float: left;
}

/*text color and styles*/

main{
	background-color: white;
	font-family: 'Special Elite', cursive;
	color: #dc3601;

}


