*{
	margin: 0;
	padding: 0;
}
	body{
max-width: 1960px;
margin-right: auto;
margin-left: 0;
display: block;
}

/*Menu layout*/
menu{
	position:fixed;
	top: 0px;
	left: 0px;
	width: 270px;
		margin:0;
	padding: 0;
	display: block;
}
menu ul{
	
list-style-type: none;
margin:0;
padding: 0;
overflow: hidden;
box-shadow: 5px 0px 30px #333333; 

	
}
menu ul li{
	height: 113px;
}
menu ul li a{

	display: block;
	color: #000000;
	text-align: center;
	vertical-align: center;
	padding: 40px 30px;
	text-decoration: none;

}

main{
	position: absolute;
	left: 270px;
	border: solid 20px red;
z-index: -1;
	}
section1{
	height: 100px;
}
section2{
	height: 100px;
	top:100px;
}
/*colors*/
body{
	background-color: darkgrey;

}
li.home{
	background-color: green;
 	box-shadow: 0px -5px 10px #333333 inset; 


	}
li.past{
	background-color: blue;
	box-shadow: 0px -5px 10px #333333 inset; 

}
li.present{
	background-color: purple;

	box-shadow: 0px -5px 10px #333333 inset; 
}

li.cv{
	background-color: red;
	box-shadow: 0px -5px 10px #333333 inset; 
}
li.hobbies{
	background-color: orange;
	box-shadow: 0px -5px 10px #333333 inset; 
}
li.contact{
	background-color: yellow;
	box-shadow: 0px -5px 10px #333333 inset; 
}
main{
		background-color: black;
	}

section1{
	background-color: lightgreen;
}
section2{
	background-color: lightblue;
}

/*images sizes*/
section1 img{
	margin:0;
	padding:0;
	height: 50px;
	width: 50px;
}

/*fonts*/
menu ul li a{
	font-family: 'Ubuntu', sans-serif;
	font-size: 25px;
	color: 	 #ffffff;
	text-shadow: 2px 2px #666666;
}